<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body><br><br>
    <form action="" method="POST" name="sample">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <table border="1" align="center" style="background: lightgrey; border: black">
            <tr><td>
                <p> Select Bestselling List</p>
                <p>{{ form.chosen_list }}</p>
            </td></tr>
                <tr><td>
                    <p> Limit Number of Entries To: </p>
                    <p>{{form.chosen_limit }}</p>
                </td></tr>
                <tr align="left"><td>
                        <p>Include Cover Image? {{form.option_cover}}</p>
                </td></tr>
                <tr><td style="padding-top: 50px">
                    <input type="submit" value="Search">
                </td></tr>
        </table>
    </form>
</body>
</html>